{% extends "base.html" %}

{% block content %}

<section>

    <div class="container">
        <div class="row">
            <div class="col-10">

                <div class="mt-5 mb-5">
                    <h1>{{blog_detail.title}}</h1>
                    <p class="text-gray-500 text-lg my-3">{{blog_detail.subtitle}}</p>
                </div>
        
                <div class="">
                    <div class="blog_detail_poster">
                        <img class="img-fluid" src="{{blog_detail.image.url}}" alt="cover_photo">
                    </div>
                </div>

                <hr>
                
                <div class="container row bloguserdetails mt-3 mb-8">
                    <div class="image">
                        <img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="profile-pic">
                    </div>
                    <div class="userdetails">
                        
                        <span class="text-lg">{{blog_detail.user}}</span>
                        <p class="text-gray-400 text-md">Published on <span class="text-gray-700">{{blog_detail.created_at|date:"d M Y"}}</span></p>
                        <span class="text-gray-700 text-md"><i class="far fa-clock mr-2"></i>{{blog_detail.get_readtime}}</span>
                        
                    </div>
                </div> 
                
                <hr>
                
                    
                <div class="text-content mt-3 mb-6">
                    {{blog_detail.content |safe }}
                </div>
                    
                

            </div>
            <!-- <div class="mt-5 mb-5 col-2" style="background-color: red;">
                Hello
            </div> -->
        </div>
    </div>

</section>



{% endblock %}