

.imagecontainer{
	width: 720px;
	height: 400px;
	position: relative;
}


.imagecontainer .wrapper{
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: .5rem;
	background: #fff;
	border: 2px dashed #5DA3FA;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.wrapper.active{
	border: none;

}

.wrapper .image{
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.wrapper .image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border: 0;

}

.wrapper #cancel-btn{
	position: absolute;
	right:16px;
	top: 9px;
	font-size: 20px;
	cursor: pointer;
	color: #5B54FA;
	display: none;

}

.wrapper.active:hover #cancel-btn{
	display: block;

}

.wrapper #cancel-btn:hover{
	color: #B4161B;

}

.wrapper .file-name{
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: #fff;
	padding: 8px 0;
	font-size: 18px;
	background: linear-gradient(135deg, #538FFB 0%, #5B54FA 100%);
	display: none;

}
.wrapper.active:hover .file-name{
	display: block;
}


#blogtitlefield{
	font-weight: bold;
	color: black;
	height: 82px !important;
	width: 100%;
	resize: none;
	border: 0;
	font-size: 30px;
}


#blogtitlefield:focus{
	border-color: none;
	box-shadow: none;
	outline: 0 none;
}

.headline{
	margin: auto;
	width: 60%;
	font-size: 20px;
}

.blog-headline{
	margin: auto;
	width: 65%;
}

.blog_detail_poster{
	margin: auto;
	width: 720px;
	height: 400px;
	background-size: cover;
}

.blogposter{
	width: 436px;
	height: 230px;
}
.blogposter img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border: 0;
}