.pointer {cursor: pointer;}

/* -----------------------profile----------------------- */
.profilecontainer{
	border: 1px solid red;
}

/* -----------------profile over---------------------------- */

/* navbar */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 2rem;
	padding-bottom: 2rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

#navigation {
	margin-top: 1rem;
	color: #242B2E;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#navigation a {
	text-decoration: none;
	font-size: 1.125rem;
	display: inline-block;
	padding: .375em 1em;
	border-radius: 3px;
	color: inherit;
	
}

nav a:hover {
	background-color:#CAD5E2;
}


/* navbar over */


/* -------------------------add_blog page------------------------- */
/* add_blog image  */
.imagecontainer{
	width: 720px;
	height: 400px;
	position: relative;
}


.imagecontainer .wrapper{
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: .5rem;
	background: #fff;
	border: 2px dashed #5DA3FA;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.wrapper.active{
	border: none;

}

.wrapper .image{
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.wrapper .image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border: 0;

}

.wrapper #cancel-btn{
	position: absolute;
	right:16px;
	top: 9px;
	font-size: 20px;
	cursor: pointer;
	color: #5B54FA;
	display: none;

}


.wrapper.active:hover #cancel-btn{
	display: block;

}

.wrapper #cancel-btn:hover{
	color: #B4161B;

}

.wrapper .file-name{
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: #fff;
	padding: 8px 0;
	font-size: 18px;
	background: linear-gradient(135deg, #538FFB 0%, #5B54FA 100%);
	display: none;

}
.wrapper.active:hover .file-name{
	display: block;
}

/* add_blog image over */


/* add_blog subtitle */
#blogtitlefield, #blogsubtitlefield{
	font-weight: bold;
	color: black;
	height: 82px !important;
	width: 100%;
	resize: none;
	border: 0;
	font-size: 30px;
}


#blogtitlefield:focus{
	border-color: none;
	box-shadow: none;
	outline: 0 none;
}

.cancel-subtitle{
	position: absolute;
	font-size: 20px;
	cursor: pointer;
	color: #5B54FA;
	right: -20px;
    top: 22px;
}

.cancel-subtitle:hover{
	color: #B4161B;
}

.headline{
	margin: auto;
	width: 60%;
	font-size: 20px;
}

.blog-headline{
	margin: auto;
	width: 65%;
}

/* blog_detail poster */
.blog_detail_poster{
	margin: auto;
	width: 752px;
	height: 394.8px;
	background-size: cover;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.blog_detail_poster img{
	position: absolute;
}

.blogposter{
	width: 436px;
	height: 230px;
}
.blogposter img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border: 0;
}
/* blog_detail poster over */


/* ------------------------ for upload_blog page --------------------------- */

.wrappercontainer{
	width: 720px;
	height: 400px;
	position: relative;
}

.wrappercontainer .wrapperimage{
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: .5rem;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.wrapperimage .image{
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.wrapperimage .image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border: 0;

}

.wrapperimage .image-name{
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: #fff;
	padding: 8px 0;
	font-size: 18px;
	background: linear-gradient(135deg, #538FFB 0%, #5B54FA 100%);
	display: none;

}
.wrapper.active:hover .image-name{
	display: block;
}

/* user details blog_details */
.bloguserdetails .image{
	position: relative;
	overflow: hidden;
	cursor: pointer;
	
}

.bloguserdetails .image img{
	width: 70px;
	height: 70px;
	object-fit: cover;
}

.bloguserdetails .userdetails{
	position: relative;
	margin: 0 20px;
}

.userdetails span{
	cursor: pointer;
}

/* ------------------------ for upload_blog page over --------------------------- */
