 {% load static %}
 <header id="header">
	<div class="header-logo">
		<a class="atag" href="/" style="text-decoration: none;"><h1 class="pointer"><span style="color: #242B2E;">We Write </span><span style="color: green;">Code</span></h1></a>
	</div>
	<nav id="navigation">
		{% if user.is_authenticated %}
        <a class="atag" href="/"> <i class="fas fa-laptop-code fa-sm"></i> Home</a>
        <a class="atag" href="{% url 'add_blog' %}"><i class="fas fa-plus fa-sm"></i> New Story</a>
        <a class="atag" href="{% url 'your_all_blogs' %}"><i class="fas fa-clipboard"></i> Your Stories</a>
        <a class="atag" href="{% url 'profile'%}"><i class="fas fa-user-alt fa-sm"></i>  {{request.user}}</a>
        <a class="atag" href="{% url 'logout_view' %}" style="color: #B4161B;"><i class="fas fa-sign-out-alt fa-sm"></i> Logout</a>
        {% else %}
        <a class="atag" href="/">Home</a>
        <a class="atag" href="{% url 'login_view' %}" style="color: green;"><i class="fas fa-sign-out-alt fa-sm"></i> Sign In</a>
        {% endif %}
	</nav>
</header>